.itemname{
    font-size: 1em;
    color: rgb(109, 109, 201);
    font-family:"'Courier New', Courier, monospace";
    min-width: 200px;
    text-align: left;
}

.countvalue{
    font-size: 1.2em;
    margin: 0 20px;

}

.btn{
    display: inline-block;
    margin: 0 12px;
    min-width: 40px;
    height: 40px;
    border-radius: 8px;
    border: solid 1px rgb(168, 150, 125);
    color: white;
    text-decoration: none;    
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.5s ease-out;
    padding: 5px 10px;
}
.btnDisabled{
    color: gray;
    cursor: none !important;
    margin: 10px 12px;
}

.btn > div{
    margin: auto;
    font-size: 1em;
}

.btnReset{
    margin-top: 30px;
}

.btnHover:hover{
    background-color: rgb(168, 150, 125);
    color: rgb(88, 88, 233);
    transition: all 0.5s ease-in;
}

.itemRow{
    margin: 10px 0;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}